html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  body{
    background-color: rgb(125, 125, 125);
  }

  .navbar-brand{
    font-weight: bolder;
    font-size: 6rem;
  }
  .photo{
    font-style: italic;
    font-weight: 100;
  }

  nav{
    height: 10vh;
  }

  .carousel {
    height: 50rem;
  }
  
  .carousel-item {
    height: 50rem;
  }
  
  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }
  
  
  .about{
    font-size: 1.5rem;
    margin: 1rem;
  }

  .card {
    height: 375px;
  }
  
  .card-img-top {
    height: 300px;
    object-fit: cover;
  }
  
  .card {
    margin: 20px;
  }
  
  footer {
    height: 10vh;
    margin-top: 10px;
  }
  
  .photo {
    width: calc(33.33% - 20px);
    max-width: 300px;
    height: 300px; /* set a fixed height */
    margin: 10px;
    display: inline-block;
    position: relative;
  }
  
  .photo img {
    width: 100%;
    height: 100%; /* set the height to 100% to fill the container */
    object-fit: cover; /* make sure the image fills the container without stretching */
  }
  
  .photo .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .photo:hover .caption {
    opacity: 1;
  }
  
  .no-results {
    font-size: 1.5rem;
    color: rgb(241, 97, 126);
    text-align: center;
  }
  
  #response {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  
  div#photos{
    margin-left: 6rem;
  }
  